/*
 * We inject a dependencyScope variable, which will be used
 * for all further dependencies. Thus, the dependencies won't
 * register any global variables.
 */
;(function(window) {

  // make sure we do not have any Breinify instance already
  if (typeof window.Breinify === 'object') { return; }

  // create the dependencyScope
  const dependencyScope = {
    skipRequire: true
  };

  try {